@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-slate-900;
  }

  ::selection {
    @apply bg-slate-900 text-white;
  }
}

@layer utilities {
  .text-2xs {
    font-size: 0.6875rem;
    line-height: 1rem;
  }
}
